dataset/
dataset/*
archive/
archive/*
backup_result/
backup_result/*
unimodal/**/*.jpg
multimodal/**/*.jpeg
multimodal/**/*.png
results/**/*.jpg
results/**/*.jpeg
selection/**/*.jpeg
selection/**/*.jpg
results/*.png
results/*.gif
results/*.bmp
results/*.tiff
results/*.svg
evol_algo/results/
evol_algo/ea_output_old/
evol_algo/ea_output/**/*.png
evol_algo/ea_output/multi/*
evol_algo/ea_output/single/*
evol_algo/temp_evol_algo/*
diagrams/*
evaluation/**/*
temp_corruptions/*

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.ipynb_checkpoints

# Logs
*.log

# virtual env
venv/

# private
_ignore/